<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>Record</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}">
   <script src="{% static 'home/js/jquery-3.3.1.min.js' %}"></script>
   <script src="{% static 'home/js/bootstrap.min.js' %}"></script>
</head>
<body>

<div class="container">
  <h2>All Players Record</h2>
<!--  <p>The .table-striped class adds zebra-stripes to a table:</p>            -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Player ID</th>
        <th>Name</th>
        <th>Series Played</th>
        <th>Matches Played</th>
        <th>Not Out Innings</th>
        <th>Total Runs</th>
        <th>Total Ball Faced</th>
        <th>Total Fours</th>
        <th>Total Sixes</th>
      </tr>
    </thead>
    <tbody>
    {% for player in players %}
      <tr>
        <td>{{player.pid}}</td>
        <td>{{player.name}}</td>
        <td>{{player.series_played}}</td>
        <td>{{player.matches_played}}</td>
        <td>{{player.noi}}</td>
        <td>{{player.total_runs}}</td>
        <td>{{player.total_ballfaced}}</td>
        <td>{{player.total_fours}}</td>
        <td>{{player.total_sixes}}</td>
      </tr>
    {% endfor %}

    </tbody>
  </table>
</div>

</body>
</html>
